In [159]:
import pandas as pd
import numpy as np


all_data = pd.read_excel("./all_data2.xlsx")
all_data.head()

,Unnamed: 0,Time,name,lon,lat,band,pixel,cloud,terrian,cloudconfidence,cloudshade,CH_value
0,0,2017-03-25,姉川沖,35.38681,136.212837,B1.TIF,10118,0,0,1,3,5.042857
1,1,2017-03-25,姉川沖,35.38681,136.212837,B2.TIF,9102,0,0,1,3,5.042857
2,2,2017-03-25,姉川沖,35.38681,136.212837,B3.TIF,7809,0,0,1,3,5.042857
3,3,2017-03-25,姉川沖,35.38681,136.212837,B4.TIF,7083,0,0,1,3,5.042857
4,4,2017-03-25,姉川沖,35.38681,136.212837,B5.TIF,6610,0,0,1,3,5.042857

In [160]:
all_data.dtypes

Unnamed: 0                  int64
Time               datetime64[ns]
name                       object
lon                       float64
lat                       float64
band                       object
pixel                       int64
cloud                       int64
terrian                     int64
cloudconfidence             int64
cloudshade                  int64
CH_value                  float64
dtype: object

In [161]:
all_data.isnull().sum()

Unnamed: 0          0
Time                0
name                0
lon                 0
lat                 0
band                0
pixel               0
cloud               0
terrian             0
cloudconfidence     0
cloudshade          0
CH_value           22
dtype: int64

In [162]:
all_data.shape

(12583, 12)

In [163]:
all_data_2 = all_data.dropna()

In [164]:
all_data_2.shape

(12561, 12)

In [183]:
all_data_2.isnull().sum()

Unnamed: 0         0
Time               0
name               0
lon                0
lat                0
band               0
pixel              0
cloud              0
terrian            0
cloudconfidence    0
cloudshade         0
CH_value           0
dtype: int64

In [166]:
all_data_2.to_excel("./all_data2_nonull.xlsx")

In [167]:
all_data_2

,Unnamed: 0,Time,name,lon,lat,band,pixel,cloud,terrian,cloudconfidence,cloudshade,CH_value
0,0,2017-03-25,姉川沖,35.386810,136.212837,B1.TIF,10118,0,0,1,3,5.042857
1,1,2017-03-25,姉川沖,35.386810,136.212837,B2.TIF,9102,0,0,1,3,5.042857
2,2,2017-03-25,姉川沖,35.386810,136.212837,B3.TIF,7809,0,0,1,3,5.042857
3,3,2017-03-25,姉川沖,35.386810,136.212837,B4.TIF,7083,0,0,1,3,5.042857
4,4,2017-03-25,姉川沖,35.386810,136.212837,B5.TIF,6610,0,0,1,3,5.042857
...,...,...,...,...,...,...,...,...,...,...,...,...
12578,12578,2017-02-14,大宮川沖中央,35.056558,135.900578,B7.TIF,16795,1,0,3,1,5.600000
12579,12579,2017-02-14,大宮川沖中央,35.056558,135.900578,B8.TIF,24580,1,0,3,1,5.600000
12580,12580,2017-02-14,大宮川沖中央,35.056558,135.900578,B9.TIF,5217,1,0,3,1,5.600000
12581,12581,2017-02-14,大宮川沖中央,35.056558,135.900578,B10.TIF,15364,1,0,3,1,5.600000
12582,12582,2017-02-14,大宮川沖中央,35.056558,135.900578,B11.TIF,15132,1,0,3,1,5.600000

In [168]:
len(all_data_2["CH_value"].unique())

883

In [169]:
len(all_data_2["CH_value"])/11

1141.909090909091

In [170]:
np.unique(all_data_2["CH_value"],return_counts = True)

(array([ 1.075     ,  1.125     ,  1.15      ,  1.22857143,  1.25714286,
         1.34285714,  1.35      ,  1.4       ,  1.425     ,  1.42857143,
         1.44285714,  1.45714286,  1.48      ,  1.48571429,  1.5       ,
         1.51428571,  1.525     ,  1.54285714,  1.55      ,  1.575     ,
         1.58571429,  1.6       ,  1.62      ,  1.64      ,  1.65      ,
         1.65714286,  1.675     ,  1.68      ,  1.68571429,  1.7       ,
         1.71428571,  1.725     ,  1.72857143,  1.74285714,  1.75714286,
         1.76      ,  1.77142857,  1.775     ,  1.8       ,  1.86      ,
         1.86666667,  1.87142857,  1.9       ,  1.92      ,  1.92857143,
         1.94285714,  1.95714286,  1.97142857,  1.98571429,  2.        ,
         2.01428571,  2.03333333,  2.03333333,  2.0375    ,  2.04      ,
         2.04285714,  2.05714286,  2.1       ,  2.14      ,  2.14285714,
         2.15      ,  2.16666667,  2.17142857,  2.18571429,  2.18571429,
         2.2       ,  2.22      ,  2.22857143,  2.23333333,  2.24285714,
         2.25      ,  2.25714286,  2.3       ,  2.31428571,  2.32      ,
         2.34      ,  2.35      ,  2.36      ,  2.36666667,  2.37142857,
         2.38333333,  2.38571429,  2.4       ,  2.41428571,  2.42857143,
         2.42857143,  2.43333333,  2.43333333,  2.45      ,  2.45714286,
         2.46      ,  2.46666667,  2.46666667,  2.48571429,  2.5       ,
         2.52      ,  2.52857143,  2.53333333,  2.54285714,  2.55      ,
         2.55      ,  2.55714286,  2.5625    ,  2.57142857,  2.58      ,
         2.6       ,  2.6       ,  2.61428571,  2.62857143,  2.63333333,
         2.64      ,  2.64285714,  2.65714286,  2.66666667,  2.67142857,
         2.68      ,  2.68571429,  2.7       ,  2.71428571,  2.71666667,
         2.71666667,  2.72      ,  2.725     ,  2.72857143,  2.73333333,
         2.75      ,  2.76      ,  2.775     ,  2.8       ,  2.80714286,
         2.81428571,  2.82      ,  2.82142857,  2.82857143,  2.83333333,
         2.83571429,  2.84      ,  2.84285714,  2.85      ,  2.85714286,
         2.86428571,  2.86666667,  2.87857143,  2.88      ,  2.88333333,
         2.88571429,  2.9       ,  2.9       ,  2.91428571,  2.925     ,
         2.92857143,  2.93333333,  2.94      ,  2.94285714,  2.95      ,
         2.95714286,  2.96666667,  3.        ,  3.01428571,  3.02      ,
         3.02857143,  3.03333333,  3.04      ,  3.04285714,  3.05      ,
         3.05714286,  3.06      ,  3.06666667,  3.07142857,  3.08      ,
         3.08571429,  3.1       ,  3.12      ,  3.13333333,  3.15      ,
         3.15714286,  3.16      ,  3.16666667,  3.175     ,  3.18      ,
         3.18333333,  3.18571429,  3.2       ,  3.27142857,  3.28333333,
         3.28571429,  3.29      ,  3.3       ,  3.3       ,  3.31428571,
         3.33333333,  3.34      ,  3.34285714,  3.35      ,  3.36      ,
         3.36666667,  3.36666667,  3.37142857,  3.375     ,  3.4       ,
         3.41428571,  3.42      ,  3.42857143,  3.42857143,  3.43333333,
         3.45      ,  3.45714286,  3.46      ,  3.46666667,  3.47142857,
         3.475     ,  3.47857143,  3.48      ,  3.5       ,  3.50714286,
         3.52      ,  3.54      ,  3.55714286,  3.57142857,  3.58      ,
         3.6       ,  3.61428571,  3.63333333,  3.63571429,  3.64      ,
         3.65      ,  3.67      ,  3.67142857,  3.68      ,  3.7       ,
         3.71428571,  3.725     ,  3.72857143,  3.73333333,  3.74      ,
         3.74285714,  3.76      ,  3.78      ,  3.79285714,  3.8       ,
         3.81428571,  3.82      ,  3.825     ,  3.83333333,  3.84      ,
         3.85      ,  3.86      ,  3.86      ,  3.86666667,  3.87142857,
         3.88571429,  3.89230769,  3.9       ,  3.91428571,  3.92      ,
         3.92857143,  3.94285714,  3.95      ,  3.96      ,  3.975     ,
         3.97857143,  3.98      ,  4.        ,  4.0125    ,  4.01666667,
         4.025     ,  4.02857143,  4.04      ,  4.05714286,  4.07142857,
         4.1       ,  4.1       ,  4.10714286,  4.14      ,  4.15      ,
         4.16      ,  4.18      ,  4.18571429,  4.2       ,  4.2       ,
         4.21428571,  4.22      ,  4.22      ,  4.24      ,  4.24285714,
         4.25      ,  4.26      ,  4.26428571,  4.28      ,  4.28461538,
         4.3       ,  4.3       ,  4.32      ,  4.32      ,  4.32857143,
         4.34      ,  4.34285714,  4.36      ,  4.375     ,  4.4       ,
         4.4       ,  4.41428571,  4.425     ,  4.43333333,  4.45714286,
         4.46      ,  4.475     ,  4.48      ,  4.5       ,  4.51428571,
         4.52      ,  4.53333333,  4.54      ,  4.54285714,  4.55      ,
         4.55      ,  4.57142857,  4.58571429,  4.6       ,  4.62      ,
         4.63333333,  4.64285714,  4.65      ,  4.65384615,  4.67142857,
         4.67142857,  4.68571429,  4.7       ,  4.7       ,  4.72      ,
         4.74      ,  4.75714286,  4.76      ,  4.76666667,  4.78571429,
         4.8       ,  4.81      ,  4.81428571,  4.82857143,  4.84285714,
         4.85      ,  4.85714286,  4.88      ,  4.9       ,  4.91666667,
         4.92142857,  4.925     ,  4.92857143,  4.94      ,  4.94444444,
         4.95      ,  4.95      ,  4.96      ,  4.97142857,  4.98      ,
         4.9875    ,  5.        ,  5.00769231,  5.01428571,  5.02      ,
         5.02857143,  5.03333333,  5.04      ,  5.04285714,  5.05      ,
         5.05      ,  5.06      ,  5.06666667,  5.07142857,  5.075     ,
         5.08      ,  5.08571429,  5.1       ,  5.11428571,  5.12      ,
         5.12      ,  5.14      ,  5.14285714,  5.15      ,  5.15      ,
         5.15714286,  5.16      ,  5.17142857,  5.18333333,  5.18888889,
         5.2       ,  5.2       ,  5.21428571,  5.22      ,  5.225     ,
         5.22857143,  5.25714286,  5.26      ,  5.26666667,  5.275     ,
         5.3       ,  5.31428571,  5.325     ,  5.32857143,  5.34      ,
         5.35      ,  5.35714286,  5.38      ,  5.38571429,  5.39285714,
         5.4       ,  5.4       ,  5.40769231,  5.42      ,  5.43333333,
         5.45      ,  5.46153846,  5.46666667,  5.46923077,  5.47142857,
         5.475     ,  5.48571429,  5.5       ,  5.51428571,  5.52      ,
         5.52857143,  5.6       ,  5.61428571,  5.62      ,  5.62857143,
         5.63333333,  5.64      ,  5.65      ,  5.65714286,  5.67142857,
         5.71428571,  5.71538462,  5.725     ,  5.74285714,  5.75714286,
         5.76      ,  5.775     ,  5.78      ,  5.78      ,  5.8       ,
         5.83333333,  5.83333333,  5.84      ,  5.84285714,  5.85      ,
         5.85384615,  5.85714286,  5.86428571,  5.86666667,  5.87142857,
         5.87142857,  5.88      ,  5.88571429,  5.9       ,  5.91428571,
         5.92222222,  5.93333333,  5.94285714,  5.96666667,  5.97142857,
         5.98      ,  5.98571429,  6.        ,  6.01666667,  6.04      ,
         6.05      ,  6.06      ,  6.06666667,  6.06923077,  6.08      ,
         6.08571429,  6.1       ,  6.12      ,  6.13846154,  6.15714286,
         6.16666667,  6.2       ,  6.23333333,  6.24615385,  6.3       ,
         6.32      ,  6.34      ,  6.36      ,  6.38      ,  6.38571429,
         6.4       ,  6.40833333,  6.41428571,  6.42307692,  6.42857143,
         6.44285714,  6.45      ,  6.45714286,  6.47142857,  6.55      ,
         6.55714286,  6.56      ,  6.57857143,  6.58      ,  6.58571429,
         6.625     ,  6.62857143,  6.63846154,  6.64      ,  6.65555556,
         6.66      ,  6.66666667,  6.67142857,  6.73333333,  6.74285714,
         6.75      ,  6.77692308,  6.8       ,  6.8       ,  6.84285714,
         6.85714286,  6.86      ,  6.86666667,  6.9       ,  6.91666667,
         6.92      ,  6.925     ,  6.92857143,  6.94285714,  6.94615385,
         6.96428571,  6.97142857,  6.975     ,  7.        ,  7.03076923,
         7.0625    ,  7.06666667,  7.1       ,  7.13333333,  7.13333333,
         7.15      ,  7.15714286,  7.225     ,  7.22857143,  7.25      ,
         7.25384615,  7.25714286,  7.27142857,  7.3       ,  7.3       ,
         7.325     ,  7.34      ,  7.38      ,  7.38      ,  7.4       ,
         7.4       ,  7.4125    ,  7.42      ,  7.425     ,  7.47142857,
         7.48461538,  7.5       ,  7.54285714,  7.55714286,  7.64      ,
         7.65      ,  7.65      ,  7.66666667,  7.68      ,  7.7       ,
         7.7       ,  7.72857143,  7.73333333,  7.73571429,  7.75      ,
         7.81428571,  7.81538462,  7.83333333,  7.84      ,  7.86      ,
         7.86923077,  7.9       ,  7.92857143,  7.92857143,  7.93333333,
         7.93333333,  7.96      ,  7.96      ,  7.975     ,  7.98      ,
         7.98571429,  8.        ,  8.02      ,  8.07142857,  8.1       ,
         8.12      ,  8.12142857,  8.14      ,  8.14615385,  8.15714286,
         8.18571429,  8.19230769,  8.2       ,  8.20769231,  8.22      ,
         8.24      ,  8.24285714,  8.25      ,  8.3       ,  8.3       ,
         8.31428571,  8.32857143,  8.33333333,  8.35      ,  8.38      ,
         8.38571429,  8.4       ,  8.41428571,  8.44166667,  8.46      ,
         8.46666667,  8.48461538,  8.5       ,  8.50714286,  8.51428571,
         8.54      ,  8.54285714,  8.54615385,  8.575     ,  8.6       ,
         8.64      ,  8.7       ,  8.725     ,  8.76      ,  8.775     ,
         8.78      ,  8.79230769,  8.8       ,  8.8       ,  8.81538462,
         8.82      ,  8.82857143,  8.86      ,  8.9       ,  8.9       ,
         8.94      ,  8.95      ,  8.98571429,  9.        ,  9.06      ,
         9.08      ,  9.1       ,  9.12      ,  9.17      ,  9.2       ,
         9.21428571,  9.24      ,  9.25      ,  9.28      ,  9.3       ,
         9.34      ,  9.35      ,  9.36      ,  9.36666667,  9.4       ,
         9.4       ,  9.44      ,  9.475     ,  9.48461538,  9.5       ,
         9.53      ,  9.6       ,  9.6       ,  9.62      ,  9.65      ,
         9.66      ,  9.66666667,  9.7       ,  9.71      ,  9.73333333,
         9.76666667,  9.8       ,  9.82857143,  9.85      ,  9.92      ,
         9.92857143, 10.        , 10.02      , 10.05      , 10.08571429,
        10.1       , 10.15714286, 10.16      , 10.16666667, 10.2       ,
        10.24285714, 10.34      , 10.35      , 10.38      , 10.4       ,
        10.475     , 10.54      , 10.55      , 10.6       , 10.62      ,
        10.625     , 10.64285714, 10.7       , 10.72      , 10.72857143,
        10.75      , 10.76      , 10.77142857, 10.8       , 10.82307692,
        10.83333333, 10.84285714, 10.86      , 10.9       , 10.92      ,
        10.94      , 10.975     , 10.98333333, 11.        , 11.14      ,
        11.28      , 11.3       , 11.32      , 11.33333333, 11.35      ,
        11.35714286, 11.36      , 11.38      , 11.4       , 11.46      ,
        11.46666667, 11.47142857, 11.49166667, 11.53333333, 11.55      ,
        11.56      , 11.58      , 11.63333333, 11.65714286, 11.725     ,
        11.74      , 11.77142857, 11.8       , 11.825     , 11.85714286,
        11.94285714, 12.        , 12.02      , 12.03333333, 12.05      ,
        12.06666667, 12.1125    , 12.16      , 12.16153846, 12.23333333,
        12.24      , 12.3       , 12.38      , 12.43333333, 12.47142857,
        12.48      , 12.5       , 12.52857143, 12.55      , 12.7       ,
        12.75      , 12.8       , 12.82      , 12.83076923, 12.85      ,
        12.86      , 12.87142857, 12.98      , 13.01428571, 13.02      ,
        13.05      , 13.06666667, 13.1       , 13.11428571, 13.15      ,
        13.35714286, 13.36666667, 13.6       , 13.62      , 13.64      ,
        13.9       , 14.025     , 14.06666667, 14.13333333, 14.21428571,
        14.25      , 14.26666667, 14.3       , 14.36666667, 14.6       ,
        14.61428571, 14.63333333, 14.66      , 14.66666667, 14.7       ,
        14.86      , 14.9       , 14.98571429, 15.        , 15.03333333,
        15.2       , 15.34      , 15.41428571, 15.43333333, 15.67142857,
        15.82857143, 15.95      , 16.05      , 16.07142857, 16.13333333,
        16.17142857, 16.18333333, 16.24      , 16.32      , 16.4       ,
        16.45      , 16.5       , 16.61666667, 16.64285714, 16.65      ,
        16.67142857, 16.72857143, 16.775     , 16.91428571, 16.92857143,
        16.96666667, 17.06666667, 17.1       , 17.14      , 17.18571429,
        17.26666667, 17.38      , 17.45714286, 17.51428571, 17.68571429,
        17.68571429, 17.78571429, 17.8       , 17.92857143, 18.15      ,
        18.26666667, 18.3       , 18.52      , 18.52857143, 18.58333333,
        18.64285714, 19.1       , 19.3       , 19.35714286, 19.37142857,
        19.6       , 19.88333333, 19.9       , 20.07142857, 20.1       ,
        20.21428571, 20.325     , 20.55      , 21.42      , 22.08      ,
        22.2       , 22.94      , 25.5       , 26.14      , 27.05      ,
        27.84      , 31.9       , 32.        , 35.38      , 35.76      ,
        36.56      , 36.75      , 36.75      , 44.9625    , 46.98      ,
        53.175     , 58.32      , 61.3875    ]),
 array([11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 22, 11, 11, 11,
        11, 11, 11, 11, 22, 11, 11, 11, 33, 11, 11, 11, 33, 11, 11, 33, 33,
        22, 22, 22, 11, 22, 11, 11, 11, 88, 11, 11, 33, 22, 11, 22, 22, 11,
        11, 11, 11, 11, 11, 22, 55, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
        11, 22, 22, 11, 11, 22, 11, 11, 11, 11, 33, 11, 11, 11, 22, 11, 11,
        11, 11, 11, 33, 11, 33, 11, 11, 11, 33, 22, 11, 11, 11, 11, 11, 22,
        11, 33, 33, 11, 11, 22, 22, 11, 22, 11, 22, 22, 11, 11, 11, 66, 11,
        11, 11, 11, 11, 11, 11, 33, 33, 11, 22, 11, 11, 44, 11, 11, 11, 11,
        11, 11, 22, 11, 11, 11, 11, 22, 11, 22, 11, 66, 11, 11, 11, 11, 22,
        22, 22, 11, 11, 55, 11, 11, 11, 11, 22, 33, 11, 11, 11, 11, 11, 11,
        11, 22, 33, 11, 11, 11, 11, 11, 11, 22, 11, 11, 22, 11, 11, 11, 11,
        33, 11, 11, 11, 11, 11, 33, 11, 11, 11, 11, 11, 55, 11, 11, 11, 11,
        11, 22, 11, 22, 11, 11, 11, 11, 22, 22, 11, 11, 11, 11, 11, 11, 11,
        11, 11, 11, 11, 22, 11, 11, 33, 22, 22, 11, 11, 11, 33, 11, 11, 11,
        11, 33, 11, 11, 11, 22, 11, 22, 11, 33, 11, 11, 11, 11, 22, 11, 22,
        11, 11, 11, 22, 22, 11, 11, 55, 11, 11, 11, 33, 11, 22, 11, 11, 11,
        11, 11, 11, 11, 11, 22, 11, 44, 11, 22, 11, 44, 11, 66, 22, 11, 22,
        11, 44, 22, 11, 22, 11, 11, 11, 11, 22, 11, 33, 11, 11, 11, 22, 33,
        11, 11, 44, 11, 33, 11, 11, 11, 22, 11, 11, 44, 22, 22, 11, 11, 11,
        11, 11, 11, 11, 11, 33, 11, 22, 11, 11, 22, 11, 22, 11, 11, 11, 33,
        11, 11, 11, 33, 11, 11, 11, 33, 22, 11, 11, 11, 11, 11, 22, 11, 22,
        11, 11, 22, 22, 22, 22, 11, 11, 11, 55, 11, 10, 11, 11, 11, 22, 11,
        11, 11, 11, 11, 11, 33, 22, 11, 11, 11, 11, 11, 11, 11, 11, 11, 22,
        11, 11, 11, 22, 22, 11, 11, 11, 22, 11, 33, 11, 22, 11, 11, 22, 11,
        11, 22, 11, 11, 11, 11, 11, 11, 22, 11, 11, 11, 11, 11, 33, 11, 11,
        11, 11, 11, 11, 11, 22, 11, 11, 22, 11, 11, 11, 11, 11, 44, 11, 11,
        11, 11, 11, 11, 11, 11, 11, 11, 22, 11, 11, 11, 22, 11, 11, 11, 11,
        11, 11, 11, 11, 11, 11, 33, 33, 11, 11, 11, 11, 22, 11, 11, 11, 11,
        11, 11, 11, 11, 11, 22, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 22,
        22, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
        11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 22, 11, 11, 11, 11, 11, 11,
        11, 11, 11, 11, 11, 11, 11, 11, 11, 22, 11, 11, 11, 11, 11, 11, 11,
        11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
        22, 33, 11, 11, 11, 11, 22, 11, 11, 11, 11, 11, 11, 11, 11, 11, 22,
        11, 11, 11, 11, 11, 11, 11, 22, 33, 11, 11, 33, 11, 11, 11, 11, 11,
        11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
        11, 11, 22, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 33, 11, 11,
        11, 11, 11, 11, 22, 11, 11, 11, 11, 33, 11, 11, 11, 11, 33, 11, 22,
        33, 11, 11, 22, 11, 11, 11, 11, 11, 11, 11, 11, 22, 11, 11, 11, 11,
        11, 33, 11, 22, 22, 11, 11, 11, 11, 33, 11, 11, 11, 11, 11, 11, 22,
        11, 11, 11, 11, 11, 11, 11, 11, 11, 22, 11, 11, 11, 11, 11, 22, 11,
        11, 11, 11, 11, 11, 11, 22, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
        11, 11, 11, 11, 11, 11, 11, 44, 11, 11, 11, 11, 11, 11, 11, 11, 11,
        11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 22, 11, 11, 11, 11, 11,
        11, 11, 11, 11, 11, 11, 11, 11, 22, 11, 11, 11, 11, 11, 11, 11, 11,
        11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
        11, 22, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
        11, 11, 11, 11, 22, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
        11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 22,
        11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
        11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
        11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11],
       dtype=int64))

In [171]:
all_data_2[(all_data_2["name"] == "姉川沖") & (all_data_2["Time"] == pd.to_datetime(str(20170325)))]

,Unnamed: 0,Time,name,lon,lat,band,pixel,cloud,terrian,cloudconfidence,cloudshade,CH_value
0,0,2017-03-25,姉川沖,35.38681,136.212837,B1.TIF,10118,0,0,1,3,5.042857
1,1,2017-03-25,姉川沖,35.38681,136.212837,B2.TIF,9102,0,0,1,3,5.042857
2,2,2017-03-25,姉川沖,35.38681,136.212837,B3.TIF,7809,0,0,1,3,5.042857
3,3,2017-03-25,姉川沖,35.38681,136.212837,B4.TIF,7083,0,0,1,3,5.042857
4,4,2017-03-25,姉川沖,35.38681,136.212837,B5.TIF,6610,0,0,1,3,5.042857
5,5,2017-03-25,姉川沖,35.38681,136.212837,B6.TIF,5867,0,0,1,3,5.042857
6,6,2017-03-25,姉川沖,35.38681,136.212837,B7.TIF,5663,0,0,1,3,5.042857
7,7,2017-03-25,姉川沖,35.38681,136.212837,B8.TIF,7467,0,0,1,3,5.042857
8,8,2017-03-25,姉川沖,35.38681,136.212837,B9.TIF,5282,0,0,1,3,5.042857
9,9,2017-03-25,姉川沖,35.38681,136.212837,B10.TIF,19818,0,0,1,3,5.042857
10,10,2017-03-25,姉川沖,35.38681,136.212837,B11.TIF,18751,0,0,1,3,5.042857

In [86]:
pd.to_datetime(20170325)

Timestamp('1970-01-01 00:00:00.020170325')

In [87]:
all_data_2[(all_data_2["name"] == "姉川沖") & (all_data_2["Time"] == pd.to_datetime(str(20170325)))]["pixel"].values

array([10118,  9102,  7809,  7083,  6610,  5867,  5663,  7467,  5282,
       19818, 18751], dtype=int64)

In [172]:
time = []
time = all_data_2["Time"].unique()
print(time)

['2017-03-25T00:00:00.000000000' '2017-03-09T00:00:00.000000000'
 '2017-05-12T00:00:00.000000000' '2017-05-28T00:00:00.000000000'
 '2017-06-13T00:00:00.000000000' '2017-06-29T00:00:00.000000000'
 '2017-07-15T00:00:00.000000000' '2017-07-31T00:00:00.000000000'
 '2017-08-16T00:00:00.000000000' '2017-09-01T00:00:00.000000000'
 '2017-11-04T00:00:00.000000000' '2017-11-20T00:00:00.000000000'
 '2017-12-06T00:00:00.000000000' '2017-12-22T00:00:00.000000000'
 '2018-01-07T00:00:00.000000000' '2018-01-23T00:00:00.000000000'
 '2018-02-08T00:00:00.000000000' '2018-02-24T00:00:00.000000000'
 '2018-03-12T00:00:00.000000000' '2018-03-28T00:00:00.000000000'
 '2018-04-13T00:00:00.000000000' '2018-04-29T00:00:00.000000000'
 '2018-05-15T00:00:00.000000000' '2018-06-16T00:00:00.000000000'
 '2018-07-02T00:00:00.000000000' '2018-07-18T00:00:00.000000000'
 '2018-08-03T00:00:00.000000000' '2018-08-19T00:00:00.000000000'
 '2018-09-04T00:00:00.000000000' '2018-10-06T00:00:00.000000000'
 '2018-10-22T00:00:00.000000000' '2018-11-07T00:00:00.000000000'
 '2018-11-23T00:00:00.000000000' '2018-12-09T00:00:00.000000000'
 '2015-01-31T00:00:00.000000000' '2015-02-16T00:00:00.000000000'
 '2015-03-20T00:00:00.000000000' '2015-05-07T00:00:00.000000000'
 '2015-05-23T00:00:00.000000000' '2015-06-08T00:00:00.000000000'
 '2015-06-24T00:00:00.000000000' '2015-07-10T00:00:00.000000000'
 '2015-07-26T00:00:00.000000000' '2015-08-11T00:00:00.000000000'
 '2015-08-27T00:00:00.000000000' '2015-09-12T00:00:00.000000000'
 '2015-09-28T00:00:00.000000000' '2015-10-14T00:00:00.000000000'
 '2015-10-30T00:00:00.000000000' '2015-12-01T00:00:00.000000000'
 '2015-12-17T00:00:00.000000000' '2016-01-02T00:00:00.000000000'
 '2016-02-03T00:00:00.000000000' '2016-02-19T00:00:00.000000000'
 '2016-03-06T00:00:00.000000000' '2016-03-22T00:00:00.000000000'
 '2016-04-23T00:00:00.000000000' '2016-06-10T00:00:00.000000000'
 '2016-06-26T00:00:00.000000000' '2016-07-28T00:00:00.000000000'
 '2016-08-13T00:00:00.000000000' '2016-08-29T00:00:00.000000000'
 '2016-09-14T00:00:00.000000000' '2016-09-30T00:00:00.000000000'
 '2016-10-16T00:00:00.000000000' '2016-11-17T00:00:00.000000000'
 '2016-12-03T00:00:00.000000000' '2016-12-19T00:00:00.000000000'
 '2017-01-04T00:00:00.000000000' '2017-01-20T00:00:00.000000000'
 '2017-02-21T00:00:00.000000000' '2017-04-03T00:00:00.000000000'
 '2017-03-18T00:00:00.000000000' '2017-04-19T00:00:00.000000000'
 '2017-05-05T00:00:00.000000000' '2017-05-21T00:00:00.000000000'
 '2017-06-06T00:00:00.000000000' '2017-06-22T00:00:00.000000000'
 '2017-07-08T00:00:00.000000000' '2017-07-24T00:00:00.000000000'
 '2017-08-09T00:00:00.000000000' '2017-08-25T00:00:00.000000000'
 '2017-09-10T00:00:00.000000000' '2017-09-26T00:00:00.000000000'
 '2017-10-12T00:00:00.000000000' '2017-11-13T00:00:00.000000000'
 '2017-11-29T00:00:00.000000000' '2017-12-15T00:00:00.000000000'
 '2017-12-31T00:00:00.000000000' '2018-01-16T00:00:00.000000000'
 '2018-02-17T00:00:00.000000000' '2018-04-22T00:00:00.000000000'
 '2018-05-24T00:00:00.000000000' '2018-06-09T00:00:00.000000000'
 '2018-06-25T00:00:00.000000000' '2018-07-11T00:00:00.000000000'
 '2018-07-27T00:00:00.000000000' '2018-08-12T00:00:00.000000000'
 '2018-08-28T00:00:00.000000000' '2018-09-13T00:00:00.000000000'
 '2018-10-31T00:00:00.000000000' '2018-11-16T00:00:00.000000000'
 '2018-12-02T00:00:00.000000000' '2018-12-18T00:00:00.000000000'
 '2015-01-08T00:00:00.000000000' '2015-01-24T00:00:00.000000000'
 '2015-02-09T00:00:00.000000000' '2015-02-25T00:00:00.000000000'
 '2015-03-13T00:00:00.000000000' '2015-04-30T00:00:00.000000000'
 '2015-06-01T00:00:00.000000000' '2015-06-17T00:00:00.000000000'
 '2015-08-04T00:00:00.000000000' '2015-09-05T00:00:00.000000000'
 '2015-09-21T00:00:00.000000000' '2015-10-07T00:00:00.000000000'
 '2015-10-23T00:00:00.000000000' '2015-11-24T00:00:00.000000000'
 '2015-12-10T00:00:00.000000000' '2015-12-26T00:00:00.000000000'
 '2016-01-11T00:00:00.000000000' '2016-01-27T00:00:00.000000000'
 '2016-02-12T00:00:00.000000000' '2016-02-28T00:00:00.000000000'
 '2016-03-15T00:00:00.000000000' '2016-03-31T00:00:00.000000000'
 '2016-04-16T00:00:00.000000000' '2016-05-02T00:00:00.000000000'
 '2016-05-18T00:00:00.000000000' '2016-06-03T00:00:00.000000000'
 '2016-07-05T00:00:00.000000000' '2016-07-21T00:00:00.000000000'
 '2016-08-06T00:00:00.000000000' '2016-08-22T00:00:00.000000000'
 '2016-09-07T00:00:00.000000000' '2016-11-10T00:00:00.000000000'
 '2016-11-26T00:00:00.000000000' '2016-12-12T00:00:00.000000000'
 '2016-12-28T00:00:00.000000000' '2017-01-13T00:00:00.000000000'
 '2017-01-29T00:00:00.000000000' '2017-02-14T00:00:00.000000000']

In [173]:
kyoten = []
kyoten = all_data_2["name"].unique()
kyoten

array(['姉川沖', '天野川沖', '彦根港沖', '蓮菜沖', '日の川沖', '大宮川沖', '大宮川沖中央', '知内川沖'],
      dtype=object)

In [91]:
all_data_2[(all_data_2["name"] == "姉川沖") & (all_data_2["Time"] == pd.to_datetime(str(20170325)))]["pixel"].values

array([10118,  9102,  7809,  7083,  6610,  5867,  5663,  7467,  5282,
       19818, 18751], dtype=int64)

In [107]:
list = []
list2 = []
pixel = []
for x in range(0,883):
    for t,n in zip(time,kyoten):
        pixel = all_data_2["pixel"][(all_data_2["Time"] == t) & (all_data_2["name"] == n)].values
        CH = all_data_2["CH_value"][(all_data_2["Time"] == t) & (all_data_2["name"] == n)].values
    #print(CH)
        list += [x,n,t,pixel,CH[0]]
        list2 += [[x,pixel,CH[0]]]
    
#print(list)   

#array = np.array(list)
#rray
array2 = np.array(list2)
array2

array([[0,
        array([10118,  9102,  7809,  7083,  6610,  5867,  5663,  7467,  5282,
       19818, 18751], dtype=int64),
        5.042857142857143],
       [0,
        array([10704,  9643,  8168,  7285,  6552,  5697,  5511,  7888,  5043,
       19176, 18279], dtype=int64),
        4.842857142857143],
       [0,
        array([12516, 11451,  9997,  8853,  8596,  7301,  6807,  9659,  5618,
       22082, 20322], dtype=int64),
        9.6],
       ...,
       [882,
        array([20130, 19039, 17816, 17245, 20017, 14496, 13045, 17530,  7646,
       13586, 13006, 20130, 19039, 17816, 17245, 20017, 14496, 13045,
       17530,  7646, 13586, 13006], dtype=int64),
        9.366666666666667],
       [882,
        array([12019, 10808,  9895,  8670,  8132,  7789,  7067,  8938,  5483,
       24090, 22235], dtype=int64),
        5.328571428571428],
       [882,
        array([12578, 11415,  9798,  8698,  8733,  7447,  6767,  9440,  5030,
       26245, 23524], dtype=int64),
        1.8]], dtype=object)

In [93]:
all_data_2[(all_data_2["name"]== "知内川沖") & (all_data_2["Time"]== pd.to_datetime(str(20170731)))]["pixel"].values

array([12578, 11415,  9798,  8698,  8733,  7447,  6767,  9440,  5030,
       26245, 23524], dtype=int64)

In [94]:
all_data_2[(all_data_2["name"] == "知内川沖") & (all_data_2["Time"] == pd.to_datetime(str(20170731)))]["CH_value"].values

array([1.8, 1.8, 1.8, 1.8, 1.8, 1.8, 1.8, 1.8, 1.8, 1.8, 1.8])

In [70]:
#np.savetxt("./data_array.txt",array2,fmt = "%s")

In [99]:
print(array2)

[0
 array([10118,  9102,  7809,  7083,  6610,  5867,  5663,  7467,  5282,
       19818, 18751], dtype=int64)
 5.042857142857143 ... 882
 array([12578, 11415,  9798,  8698,  8733,  7447,  6767,  9440,  5030,
       26245, 23524], dtype=int64)
 1.8]

In [108]:
array2.shape

(7064, 3)

In [111]:
array3 = np.delete(array2,0,1)

In [112]:
array3

array([[array([10118,  9102,  7809,  7083,  6610,  5867,  5663,  7467,  5282,
       19818, 18751], dtype=int64),
        5.042857142857143],
       [array([10704,  9643,  8168,  7285,  6552,  5697,  5511,  7888,  5043,
       19176, 18279], dtype=int64),
        4.842857142857143],
       [array([12516, 11451,  9997,  8853,  8596,  7301,  6807,  9659,  5618,
       22082, 20322], dtype=int64),
        9.6],
       ...,
       [array([20130, 19039, 17816, 17245, 20017, 14496, 13045, 17530,  7646,
       13586, 13006, 20130, 19039, 17816, 17245, 20017, 14496, 13045,
       17530,  7646, 13586, 13006], dtype=int64),
        9.366666666666667],
       [array([12019, 10808,  9895,  8670,  8132,  7789,  7067,  8938,  5483,
       24090, 22235], dtype=int64),
        5.328571428571428],
       [array([12578, 11415,  9798,  8698,  8733,  7447,  6767,  9440,  5030,
       26245, 23524], dtype=int64),
        1.8]], dtype=object)

In [115]:
array3.shape

(7064, 2)

In [122]:
def get_unique_list(seq):
    seen = []
    for x in seq:
        if x not in seen:
            seen.append(x)
    return seen

In [123]:
array4 = get_unique_list(array3)

C:\Users\meina\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  after removing the cwd from sys.path.

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [176]:
list = []
list3 = []
pixel = []

for t,n in zip(time,kyoten):
    for x in range(0,1142):
        pixel = all_data_2["pixel"][(all_data_2["Time"] == t) & (all_data_2["name"] == n)].values
        CH = all_data_2["CH_value"][(all_data_2["Time"] == t) & (all_data_2["name"] == n)].values
    #print(CH)
        list += [x,n,t,pixel,CH[0]]
        list3 += [[x,pixel,CH[0]]]
    
#print(list)   

#array = np.array(list)
#rray
array5 = np.array(list3)
array5

array([[0,
        array([10118,  9102,  7809,  7083,  6610,  5867,  5663,  7467,  5282,
       19818, 18751], dtype=int64),
        5.042857142857143],
       [1,
        array([10118,  9102,  7809,  7083,  6610,  5867,  5663,  7467,  5282,
       19818, 18751], dtype=int64),
        5.042857142857143],
       [2,
        array([10118,  9102,  7809,  7083,  6610,  5867,  5663,  7467,  5282,
       19818, 18751], dtype=int64),
        5.042857142857143],
       ...,
       [1139,
        array([12578, 11415,  9798,  8698,  8733,  7447,  6767,  9440,  5030,
       26245, 23524], dtype=int64),
        1.8],
       [1140,
        array([12578, 11415,  9798,  8698,  8733,  7447,  6767,  9440,  5030,
       26245, 23524], dtype=int64),
        1.8],
       [1141,
        array([12578, 11415,  9798,  8698,  8733,  7447,  6767,  9440,  5030,
       26245, 23524], dtype=int64),
        1.8]], dtype=object)

In [139]:
#np.savetxt("./data_array_test1.txt",array5,fmt = "%s")

In [175]:
list4 = []
pixel2 = []
for t,n in zip(time,kyoten):
    pixel = all_data_2["pixel"][(all_data_2["Time"] == t) & (all_data_2["name"] == n)].values
    CH = all_data_2["CH_value"][(all_data_2["Time"] == t) & (all_data_2["name"] == n)].values
    #print(CH)
    list4 += [[n,pixel,CH[0]]]
    
#print(list)   

#array = np.array(list)
#rray
array6 = np.array(list2)
array6

array([[0,
        array([10118,  9102,  7809,  7083,  6610,  5867,  5663,  7467,  5282,
       19818, 18751], dtype=int64),
        5.042857142857143],
       [0,
        array([10704,  9643,  8168,  7285,  6552,  5697,  5511,  7888,  5043,
       19176, 18279], dtype=int64),
        4.842857142857143],
       [0,
        array([12516, 11451,  9997,  8853,  8596,  7301,  6807,  9659,  5618,
       22082, 20322], dtype=int64),
        9.6],
       ...,
       [882,
        array([20130, 19039, 17816, 17245, 20017, 14496, 13045, 17530,  7646,
       13586, 13006, 20130, 19039, 17816, 17245, 20017, 14496, 13045,
       17530,  7646, 13586, 13006], dtype=int64),
        9.366666666666667],
       [882,
        array([12019, 10808,  9895,  8670,  8132,  7789,  7067,  8938,  5483,
       24090, 22235], dtype=int64),
        5.328571428571428],
       [882,
        array([12578, 11415,  9798,  8698,  8733,  7447,  6767,  9440,  5030,
       26245, 23524], dtype=int64),
        1.8]], dtype=object)

In [141]:
#np.savetxt("./data_array_test2.txt",array6,fmt = "%s")

In [188]:
list5 = []
pixel3 = []
CH1 = []
for t in time:
    for n in kyoten:
        pixel3 = all_data_2["pixel"][(all_data_2["Time"] == t) & (all_data_2["name"] == n)].values
        CH1 = all_data_2["CH_value"][(all_data_2["Time"] == t) & (all_data_2["name"] == n)].values
        #print(CH1)
        if len(CH1) != 0:
            list5 += [[t,n,pixel3,CH1[0]]]
    
#print(list)   

#array = np.array(list)
#rray
array7 = np.array(list5)
array7

array([[numpy.datetime64('2017-03-25T00:00:00.000000000'), '姉川沖',
        array([10118,  9102,  7809,  7083,  6610,  5867,  5663,  7467,  5282,
       19818, 18751], dtype=int64),
        5.042857142857143],
       [numpy.datetime64('2017-03-25T00:00:00.000000000'), '天野川沖',
        array([11505, 10443,  9137,  8595,  8440,  6879,  6622,  8891,  5832,
       18872, 18048], dtype=int64),
        5.385714285714286],
       [numpy.datetime64('2017-03-25T00:00:00.000000000'), '彦根港沖',
        array([11487, 10326,  9673,  8788,  8332,  7186,  6848,  8808,  5877,
       18721, 17630], dtype=int64),
        6.457142857142857],
       ...,
       [numpy.datetime64('2017-02-14T00:00:00.000000000'), '大宮川沖',
        array([16478, 15578, 13855, 13575, 13946, 10502,  9527, 13877,  5074,
       16827, 16272], dtype=int64),
        5.2],
       [numpy.datetime64('2017-02-14T00:00:00.000000000'), '大宮川沖中央',
        array([25701, 25632, 24003, 24956, 26335, 19614, 16795, 24580,  5217,
       15364, 15132], dtype=int64),
        5.6],
       [numpy.datetime64('2017-02-14T00:00:00.000000000'), '知内川沖',
        array([20972, 20387, 18497, 18713, 19180, 13451, 11020, 18902,  5074,
       17418, 16833], dtype=int64),
        6.666666666666666]], dtype=object)

In [194]:
np.savetxt("./data_array_dekita.txt",array7,fmt = "%s")

In [190]:
array7.shape

(1134, 4)

In [191]:
all_data_2[(all_data_2["name"]== "知内川沖") & (all_data_2["Time"]== pd.to_datetime(str(20170214)))]["pixel"].values

array([20972, 20387, 18497, 18713, 19180, 13451, 11020, 18902,  5074,
       17418, 16833], dtype=int64)

In [193]:
all_data_2[(all_data_2["name"]== "知内川沖") & (all_data_2["Time"]== pd.to_datetime(str(20170214)))]["CH_value"].values

array([6.66666667, 6.66666667, 6.66666667, 6.66666667, 6.66666667,
       6.66666667, 6.66666667, 6.66666667, 6.66666667, 6.66666667,
       6.66666667])