In [17]:
import pandas as pd
import numpy as np
import os

In [18]:
os.getcwd()

'C:\\Users\\meina\\研究'

In [19]:
CH = pd.read_excel("./narabikaeCH.xlsx")

In [84]:
CH[CH["Time"] == pd.to_datetime(str(20170629))]

      Unnamed: 0       Time         CH        lat         lon     拠点名
151          151 2017-06-29   2.610714  35.450881  136.065759    知内川沖
407          151 2017-06-29   3.639286  35.446546  136.117492  知内川沖中央
663          151 2017-06-29   4.417857  35.386810  136.212837     姉川沖
919          151 2017-06-29   8.980357  35.332352  136.245145    天野川沖
1175         151 2017-06-29   4.605357  35.313584  136.081037    安曇川沖
1431         151 2017-06-29   8.789286  35.290468  136.235275    彦根港沖
1687         151 2017-06-29   3.510714  35.291309  136.021471     大溝沖
1943         151 2017-06-29   4.542857  35.181806  135.930662     蓬莱沖
2199         151 2017-06-29  11.023214  35.150301  136.027264    日野川沖
2455         151 2017-06-29   8.568421  35.061898  135.882382    大宮川沖
2711         151 2017-06-29   5.568421  35.056558  135.900578  大宮川沖中央
2967         151 2017-06-29  14.663158  35.053818  135.917658     志那沖
3223         151 2017-06-29  18.631579  35.024584  135.913109    山田港沖

In [21]:
data_honban2 = open("./data_cleansed_honban2_T1.txt","r+")

In [22]:
dh2 = pd.read_table("./data_cleansed_honban2_T1.txt",sep = " ")

In [105]:
dh2[(dh2["Time"] == pd.to_datetime(str(20170325))) & (dh2["band"]== "B1.TIF")]

,Time,level,band,lat,lon,pixel,cloud,terrian,cloudconfidence,cloudshade
0,2017-03-25,T1,B1.TIF,35.446546,136.117492,9688,0.0,0,1.0,1.0
1,2017-03-25,T1,B1.TIF,35.386810,136.212837,10118,0.0,0,1.0,3.0
2,2017-03-25,T1,B1.TIF,35.332352,136.245145,11505,1.0,0,3.0,1.0
3,2017-03-25,T1,B1.TIF,35.313584,136.081037,10316,0.0,0,1.0,3.0
4,2017-03-25,T1,B1.TIF,35.290468,136.235275,11487,1.0,0,3.0,1.0
5,2017-03-25,T1,B1.TIF,35.291309,136.021471,13703,1.0,0,3.0,1.0
6,2017-03-25,T1,B1.TIF,35.181806,135.930662,12428,1.0,0,3.0,1.0
7,2017-03-25,T1,B1.TIF,35.150301,136.027264,10298,0.0,0,1.0,3.0
8,2017-03-25,T1,B1.TIF,35.061898,135.882382,12088,1.0,0,3.0,1.0
9,2017-03-25,T1,B1.TIF,35.056558,135.900578,13565,1.0,0,3.0,1.0
10,2017-03-25,T1,B1.TIF,35.053818,135.917658,11431,1.0,0,3.0,1.0

In [24]:
dh2.columns = ["Time","level","band","lat","lon","pixel","cloud","terrian","cloudconfidence","cloudshade"]

In [89]:
dh2["lon"].unique()

array([136.117492, 136.212837, 136.245145, 136.081037, 136.235275,
       136.021471, 135.930662, 136.027264, 135.882382, 135.900578,
       135.917658, 136.065759, 135.913109])

In [90]:
dh2["lat"].unique()

array([35.446546, 35.38681 , 35.332352, 35.313584, 35.290468, 35.291309,
       35.181806, 35.150301, 35.061898, 35.056558, 35.053818, 35.450881,
       35.024584])

In [91]:
CH["lon"].unique()

array([136.065759, 136.117492, 136.212837, 136.245145, 136.081037,
       136.235275, 136.021471, 135.930662, 136.027264, 135.882382,
       135.900578, 135.917658, 135.913109])

In [26]:
print(dh2.dtypes)

Time                 int64
level               object
band                object
lat                float64
lon                float64
pixel                int64
cloud              float64
terrian              int64
cloudconfidence    float64
cloudshade         float64
dtype: object

In [27]:
print(CH.dtypes)

Unnamed: 0             int64
Time          datetime64[ns]
CH                   float64
lat                  float64
lon                  float64
拠点名                   object
dtype: object

In [28]:
dh2["Time"] = dh2["Time"].astype(str)
dh2.dtypes

Time                object
level               object
band                object
lat                float64
lon                float64
pixel                int64
cloud              float64
terrian              int64
cloudconfidence    float64
cloudshade         float64
dtype: object

In [59]:
dh2["band"].value_counts()

B4.TIF     2599
B8.TIF     2599
B10.TIF    2599
B11.TIF    2599
B6.TIF     2599
B9.TIF     2599
B3.TIF     2599
B5.TIF     2599
B7.TIF     2599
B2.TIF     2599
B1.TIF     2598
Name: band, dtype: int64

In [30]:
dh2["Time"] = pd.to_datetime(dh2["Time"])
dh2.head()

,Time,level,band,lat,lon,pixel,cloud,terrian,cloudconfidence,cloudshade
0,2017-03-25,T1,B1.TIF,35.446546,136.117492,9688,0.0,0,1.0,1.0
1,2017-03-25,T1,B1.TIF,35.386810,136.212837,10118,0.0,0,1.0,3.0
2,2017-03-25,T1,B1.TIF,35.332352,136.245145,11505,1.0,0,3.0,1.0
3,2017-03-25,T1,B1.TIF,35.313584,136.081037,10316,0.0,0,1.0,3.0
4,2017-03-25,T1,B1.TIF,35.290468,136.235275,11487,1.0,0,3.0,1.0

In [52]:
dh2["Time"].describe()

count                   28588
unique                    208
top       2017-06-29 00:00:00
freq                      264
first     2013-03-21 00:00:00
last      2018-12-18 00:00:00
Name: Time, dtype: object

In [36]:
new_dh2 = pd.merge(dh2,CH,on = ["lon","lat","Time"])
new_dh2.head()

,Time,level,band,lat,lon,pixel,cloud,terrian,cloudconfidence,cloudshade,Unnamed: 0,CH,拠点名
0,2017-03-25,T1,B1.TIF,35.446546,136.117492,9688,0.0,0,1.0,1.0,136,5.178049,知内川沖中央
1,2017-03-25,T1,B2.TIF,35.446546,136.117492,8701,0.0,0,1.0,1.0,136,5.178049,知内川沖中央
2,2017-03-25,T1,B3.TIF,35.446546,136.117492,7351,0.0,0,1.0,1.0,136,5.178049,知内川沖中央
3,2017-03-25,T1,B4.TIF,35.446546,136.117492,6623,0.0,0,1.0,1.0,136,5.178049,知内川沖中央
4,2017-03-25,T1,B5.TIF,35.446546,136.117492,6090,0.0,0,1.0,1.0,136,5.178049,知内川沖中央

In [60]:
#new_dh4 = pd.merge(dh2,CH,on =["lon","lat","Time"],how = "outer")

In [40]:
new_dh3 = new_dh2.reindex(columns = ["Time","拠点名","lon","lat","band","pixel","cloud","terrian","cloudconfidence","cloudshade","CH"])

In [41]:
new_dh3.head()

,Time,拠点名,lon,lat,band,pixel,cloud,terrian,cloudconfidence,cloudshade,CH
0,2017-03-25,知内川沖中央,136.117492,35.446546,B1.TIF,9688,0.0,0,1.0,1.0,5.178049
1,2017-03-25,知内川沖中央,136.117492,35.446546,B2.TIF,8701,0.0,0,1.0,1.0,5.178049
2,2017-03-25,知内川沖中央,136.117492,35.446546,B3.TIF,7351,0.0,0,1.0,1.0,5.178049
3,2017-03-25,知内川沖中央,136.117492,35.446546,B4.TIF,6623,0.0,0,1.0,1.0,5.178049
4,2017-03-25,知内川沖中央,136.117492,35.446546,B5.TIF,6090,0.0,0,1.0,1.0,5.178049

In [42]:
#new_dh3.to_excel("./all_data3.xlsx")

In [43]:
new_dh2.shape

(12583, 11)

In [43]:
new_dh3.shape

(19513, 11)

In [45]:
new_dh2.isnull().sum()

Time                0
name                0
lon                 0
lat                 0
band                0
pixel               0
cloud               0
terrian             0
cloudconfidence     0
cloudshade          0
CH_value           22
dtype: int64

In [44]:
new_dh3.isnull().sum()

Time               0
拠点名                0
lon                0
lat                0
band               0
pixel              0
cloud              0
terrian            0
cloudconfidence    0
cloudshade         0
CH                 0
dtype: int64

In [48]:
new_dh3["拠点名"].unique()

array(['知内川沖中央', '姉川沖', '天野川沖', '安曇川沖', '彦根港沖', '大溝沖', '蓬莱沖', '日野川沖',
       '大宮川沖', '大宮川沖中央', '志那沖', '知内川沖', '山田港沖'], dtype=object)

In [79]:
new_dh3["拠点名"].value_counts()

日野川沖      1562
知内川沖中央    1562
大宮川沖中央    1562
安曇川沖      1562
彦根港沖      1562
蓬莱沖       1562
志那沖       1562
大溝沖       1562
姉川沖       1562
大宮川沖      1562
天野川沖      1562
知内川沖      1561
山田港沖       770
Name: 拠点名, dtype: int64

In [50]:
new_dh3["Time"].describe()

count                   19513
unique                    141
top       2017-06-29 00:00:00
freq                      264
first     2015-01-24 00:00:00
last      2018-12-18 00:00:00
Name: Time, dtype: object

In [53]:
new_dh3["band"].value_counts()

B10.TIF    1774
B11.TIF    1774
B4.TIF     1774
B6.TIF     1774
B8.TIF     1774
B9.TIF     1774
B3.TIF     1774
B5.TIF     1774
B7.TIF     1774
B2.TIF     1774
B1.TIF     1773
Name: band, dtype: int64

In [55]:
new_dh3["Time"].describe()

count                   19513
unique                    141
top       2017-06-29 00:00:00
freq                      264
first     2015-01-24 00:00:00
last      2018-12-18 00:00:00
Name: Time, dtype: object

In [57]:
new_dh3["拠点名"].describe()

count     19513
unique       13
top        日野川沖
freq       1562
Name: 拠点名, dtype: object

In [92]:
for t in new_dh3["Time"].unique():
    for k in new_dh3["拠点名"].unique():
        if len(new_dh3[(new_dh3["Time"] == t) & (new_dh3["拠点名"]== k)]["band"].values) == 22:
            print(new_dh3[(new_dh3["Time"] == t) & (new_dh3["拠点名"]== k)][["Time","拠点名","lon","lat","pixel"]])

          Time     拠点名         lon        lat  pixel
681 2017-06-29  知内川沖中央  136.117492  35.446546  25898
682 2017-06-29  知内川沖中央  136.117492  35.446546  25109
683 2017-06-29  知内川沖中央  136.117492  35.446546  24305
684 2017-06-29  知内川沖中央  136.117492  35.446546  24164
685 2017-06-29  知内川沖中央  136.117492  35.446546  27364
686 2017-06-29  知内川沖中央  136.117492  35.446546  22790
687 2017-06-29  知内川沖中央  136.117492  35.446546  20300
688 2017-06-29  知内川沖中央  136.117492  35.446546  23744
689 2017-06-29  知内川沖中央  136.117492  35.446546   6480
690 2017-06-29  知内川沖中央  136.117492  35.446546  14246
691 2017-06-29  知内川沖中央  136.117492  35.446546  14016
692 2017-06-29  知内川沖中央  136.117492  35.446546  25898
693 2017-06-29  知内川沖中央  136.117492  35.446546  25109
694 2017-06-29  知内川沖中央  136.117492  35.446546  24305
695 2017-06-29  知内川沖中央  136.117492  35.446546  24164
696 2017-06-29  知内川沖中央  136.117492  35.446546  27364
697 2017-06-29  知内川沖中央  136.117492  35.446546  22790
698 2017-06-29  知内川沖中央  136.117492  35.446546  20300
699 2017-06-29  知内川沖中央  136.117492  35.446546  23744
700 2017-06-29  知内川沖中央  136.117492  35.446546   6480
701 2017-06-29  知内川沖中央  136.117492  35.446546  14246
702 2017-06-29  知内川沖中央  136.117492  35.446546  14016
          Time  拠点名         lon       lat  pixel
703 2017-06-29  姉川沖  136.212837  35.38681  18711
704 2017-06-29  姉川沖  136.212837  35.38681  17833
705 2017-06-29  姉川沖  136.212837  35.38681  16319
706 2017-06-29  姉川沖  136.212837  35.38681  15683
707 2017-06-29  姉川沖  136.212837  35.38681  17491
708 2017-06-29  姉川沖  136.212837  35.38681  14822
709 2017-06-29  姉川沖  136.212837  35.38681  13297
710 2017-06-29  姉川沖  136.212837  35.38681  16297
711 2017-06-29  姉川沖  136.212837  35.38681   5835
712 2017-06-29  姉川沖  136.212837  35.38681  16947
713 2017-06-29  姉川沖  136.212837  35.38681  15734
714 2017-06-29  姉川沖  136.212837  35.38681  18711
715 2017-06-29  姉川沖  136.212837  35.38681  17833
716 2017-06-29  姉川沖  136.212837  35.38681  16319
717 2017-06-29  姉川沖  136.212837  35.38681  15683
718 2017-06-29  姉川沖  136.212837  35.38681  17491
719 2017-06-29  姉川沖  136.212837  35.38681  14822
720 2017-06-29  姉川沖  136.212837  35.38681  13297
721 2017-06-29  姉川沖  136.212837  35.38681  16297
722 2017-06-29  姉川沖  136.212837  35.38681   5835
723 2017-06-29  姉川沖  136.212837  35.38681  16947
724 2017-06-29  姉川沖  136.212837  35.38681  15734
          Time   拠点名         lon        lat  pixel
725 2017-06-29  天野川沖  136.245145  35.332352  19469
726 2017-06-29  天野川沖  136.245145  35.332352  18444
727 2017-06-29  天野川沖  136.245145  35.332352  17369
728 2017-06-29  天野川沖  136.245145  35.332352  16669
729 2017-06-29  天野川沖  136.245145  35.332352  18045
730 2017-06-29  天野川沖  136.245145  35.332352  14330
731 2017-06-29  天野川沖  136.245145  35.332352  12992
732 2017-06-29  天野川沖  136.245145  35.332352  16588
733 2017-06-29  天野川沖  136.245145  35.332352   7393
734 2017-06-29  天野川沖  136.245145  35.332352  12720
735 2017-06-29  天野川沖  136.245145  35.332352  12285
736 2017-06-29  天野川沖  136.245145  35.332352  19469
737 2017-06-29  天野川沖  136.245145  35.332352  18444
738 2017-06-29  天野川沖  136.245145  35.332352  17369
739 2017-06-29  天野川沖  136.245145  35.332352  16669
740 2017-06-29  天野川沖  136.245145  35.332352  18045
741 2017-06-29  天野川沖  136.245145  35.332352  14330
742 2017-06-29  天野川沖  136.245145  35.332352  12992
743 2017-06-29  天野川沖  136.245145  35.332352  16588
744 2017-06-29  天野川沖  136.245145  35.332352   7393
745 2017-06-29  天野川沖  136.245145  35.332352  12720
746 2017-06-29  天野川沖  136.245145  35.332352  12285
          Time   拠点名         lon        lat  pixel
747 2017-06-29  安曇川沖  136.081037  35.313584  20877
748 2017-06-29  安曇川沖  136.081037  35.313584  20056
749 2017-06-29  安曇川沖  136.081037  35.313584  18202
750 2017-06-29  安曇川沖  136.081037  35.313584  17811
751 2017-06-29  安曇川沖  136.081037  35.313584  19581
752 2017-06-29  安曇川沖  136.081037  35.313584  15003
753 2017-06-29  安曇川沖  136.081037  35.313584  13802
754 2017-06-29  安曇川沖  136.081037  35.313584  17673
755 2017-06-29  安曇川沖  136.081037  35.313584   7470
756 2017-06-29  安曇川沖  136.081037  35.313584  12325
757 2017-06-29  安曇川沖  136.081037  35.313584  12136
758 2017-06-29  安曇川沖  136.081037  35.313584  20877
759 2017-06-29  安曇川沖  136.081037  35.313584  20056
760 2017-06-29  安曇川沖  136.081037  35.313584  18202
761 2017-06-29  安曇川沖  136.081037  35.313584  17811
762 2017-06-29  安曇川沖  136.081037  35.313584  19581
763 2017-06-29  安曇川沖  136.081037  35.313584  15003
764 2017-06-29  安曇川沖  136.081037  35.313584  13802
765 2017-06-29  安曇川沖  136.081037  35.313584  17673
766 2017-06-29  安曇川沖  136.081037  35.313584   7470
767 2017-06-29  安曇川沖  136.081037  35.313584  12325
768 2017-06-29  安曇川沖  136.081037  35.313584  12136
          Time   拠点名         lon        lat  pixel
769 2017-06-29  彦根港沖  136.235275  35.290468  22820
770 2017-06-29  彦根港沖  136.235275  35.290468  22003
771 2017-06-29  彦根港沖  136.235275  35.290468  20290
772 2017-06-29  彦根港沖  136.235275  35.290468  20008
773 2017-06-29  彦根港沖  136.235275  35.290468  22398
774 2017-06-29  彦根港沖  136.235275  35.290468  16632
775 2017-06-29  彦根港沖  136.235275  35.290468  14941
776 2017-06-29  彦根港沖  136.235275  35.290468  20211
777 2017-06-29  彦根港沖  136.235275  35.290468   7527
778 2017-06-29  彦根港沖  136.235275  35.290468  12861
779 2017-06-29  彦根港沖  136.235275  35.290468  12156
780 2017-06-29  彦根港沖  136.235275  35.290468  22820
781 2017-06-29  彦根港沖  136.235275  35.290468  22003
782 2017-06-29  彦根港沖  136.235275  35.290468  20290
783 2017-06-29  彦根港沖  136.235275  35.290468  20008
784 2017-06-29  彦根港沖  136.235275  35.290468  22398
785 2017-06-29  彦根港沖  136.235275  35.290468  16632
786 2017-06-29  彦根港沖  136.235275  35.290468  14941
787 2017-06-29  彦根港沖  136.235275  35.290468  20211
788 2017-06-29  彦根港沖  136.235275  35.290468   7527
789 2017-06-29  彦根港沖  136.235275  35.290468  12861
790 2017-06-29  彦根港沖  136.235275  35.290468  12156
          Time  拠点名         lon        lat  pixel
791 2017-06-29  大溝沖  136.021471  35.291309  20484
792 2017-06-29  大溝沖  136.021471  35.291309  19394
793 2017-06-29  大溝沖  136.021471  35.291309  18416
794 2017-06-29  大溝沖  136.021471  35.291309  17878
795 2017-06-29  大溝沖  136.021471  35.291309  20967
796 2017-06-29  大溝沖  136.021471  35.291309  16109
797 2017-06-29  大溝沖  136.021471  35.291309  15035
798 2017-06-29  大溝沖  136.021471  35.291309  17882
799 2017-06-29  大溝沖  136.021471  35.291309   6752
800 2017-06-29  大溝沖  136.021471  35.291309  14783
801 2017-06-29  大溝沖  136.021471  35.291309  13675
802 2017-06-29  大溝沖  136.021471  35.291309  20484
803 2017-06-29  大溝沖  136.021471  35.291309  19394
804 2017-06-29  大溝沖  136.021471  35.291309  18416
805 2017-06-29  大溝沖  136.021471  35.291309  17878
806 2017-06-29  大溝沖  136.021471  35.291309  20967
807 2017-06-29  大溝沖  136.021471  35.291309  16109
808 2017-06-29  大溝沖  136.021471  35.291309  15035
809 2017-06-29  大溝沖  136.021471  35.291309  17882
810 2017-06-29  大溝沖  136.021471  35.291309   6752
811 2017-06-29  大溝沖  136.021471  35.291309  14783
812 2017-06-29  大溝沖  136.021471  35.291309  13675
          Time  拠点名         lon        lat  pixel
813 2017-06-29  蓬莱沖  135.930662  35.181806  22988
814 2017-06-29  蓬莱沖  135.930662  35.181806  22157
815 2017-06-29  蓬莱沖  135.930662  35.181806  20501
816 2017-06-29  蓬莱沖  135.930662  35.181806  20197
817 2017-06-29  蓬莱沖  135.930662  35.181806  23404
818 2017-06-29  蓬莱沖  135.930662  35.181806  17211
819 2017-06-29  蓬莱沖  135.930662  35.181806  15686
820 2017-06-29  蓬莱沖  135.930662  35.181806  20593
821 2017-06-29  蓬莱沖  135.930662  35.181806   6851
822 2017-06-29  蓬莱沖  135.930662  35.181806  13324
823 2017-06-29  蓬莱沖  135.930662  35.181806  13134
824 2017-06-29  蓬莱沖  135.930662  35.181806  22988
825 2017-06-29  蓬莱沖  135.930662  35.181806  22157
826 2017-06-29  蓬莱沖  135.930662  35.181806  20501
827 2017-06-29  蓬莱沖  135.930662  35.181806  20197
828 2017-06-29  蓬莱沖  135.930662  35.181806  23404
829 2017-06-29  蓬莱沖  135.930662  35.181806  17211
830 2017-06-29  蓬莱沖  135.930662  35.181806  15686
831 2017-06-29  蓬莱沖  135.930662  35.181806  20593
832 2017-06-29  蓬莱沖  135.930662  35.181806   6851
833 2017-06-29  蓬莱沖  135.930662  35.181806  13324
834 2017-06-29  蓬莱沖  135.930662  35.181806  13134
          Time   拠点名         lon        lat  pixel
835 2017-06-29  日野川沖  136.027264  35.150301  21649
836 2017-06-29  日野川沖  136.027264  35.150301  20792
837 2017-06-29  日野川沖  136.027264  35.150301  19234
838 2017-06-29  日野川沖  136.027264  35.150301  18778
839 2017-06-29  日野川沖  136.027264  35.150301  20960
840 2017-06-29  日野川沖  136.027264  35.150301  13255
841 2017-06-29  日野川沖  136.027264  35.150301  12319
842 2017-06-29  日野川沖  136.027264  35.150301  19210
843 2017-06-29  日野川沖  136.027264  35.150301   6759
844 2017-06-29  日野川沖  136.027264  35.150301  13925
845 2017-06-29  日野川沖  136.027264  35.150301  13580
846 2017-06-29  日野川沖  136.027264  35.150301  21649
847 2017-06-29  日野川沖  136.027264  35.150301  20792
848 2017-06-29  日野川沖  136.027264  35.150301  19234
849 2017-06-29  日野川沖  136.027264  35.150301  18778
850 2017-06-29  日野川沖  136.027264  35.150301  20960
851 2017-06-29  日野川沖  136.027264  35.150301  13255
852 2017-06-29  日野川沖  136.027264  35.150301  12319
853 2017-06-29  日野川沖  136.027264  35.150301  19210
854 2017-06-29  日野川沖  136.027264  35.150301   6759
855 2017-06-29  日野川沖  136.027264  35.150301  13925
856 2017-06-29  日野川沖  136.027264  35.150301  13580
          Time   拠点名         lon        lat  pixel
857 2017-06-29  大宮川沖  135.882382  35.061898  20130
858 2017-06-29  大宮川沖  135.882382  35.061898  19039
859 2017-06-29  大宮川沖  135.882382  35.061898  17816
860 2017-06-29  大宮川沖  135.882382  35.061898  17245
861 2017-06-29  大宮川沖  135.882382  35.061898  20017
862 2017-06-29  大宮川沖  135.882382  35.061898  14496
863 2017-06-29  大宮川沖  135.882382  35.061898  13045
864 2017-06-29  大宮川沖  135.882382  35.061898  17530
865 2017-06-29  大宮川沖  135.882382  35.061898   7646
866 2017-06-29  大宮川沖  135.882382  35.061898  13586
867 2017-06-29  大宮川沖  135.882382  35.061898  13006
868 2017-06-29  大宮川沖  135.882382  35.061898  20130
869 2017-06-29  大宮川沖  135.882382  35.061898  19039
870 2017-06-29  大宮川沖  135.882382  35.061898  17816
871 2017-06-29  大宮川沖  135.882382  35.061898  17245
872 2017-06-29  大宮川沖  135.882382  35.061898  20017
873 2017-06-29  大宮川沖  135.882382  35.061898  14496
874 2017-06-29  大宮川沖  135.882382  35.061898  13045
875 2017-06-29  大宮川沖  135.882382  35.061898  17530
876 2017-06-29  大宮川沖  135.882382  35.061898   7646
877 2017-06-29  大宮川沖  135.882382  35.061898  13586
878 2017-06-29  大宮川沖  135.882382  35.061898  13006
          Time     拠点名         lon        lat  pixel
879 2017-06-29  大宮川沖中央  135.900578  35.056558  19777
880 2017-06-29  大宮川沖中央  135.900578  35.056558  18777
881 2017-06-29  大宮川沖中央  135.900578  35.056558  17559
882 2017-06-29  大宮川沖中央  135.900578  35.056558  17013
883 2017-06-29  大宮川沖中央  135.900578  35.056558  19357
884 2017-06-29  大宮川沖中央  135.900578  35.056558  14163
885 2017-06-29  大宮川沖中央  135.900578  35.056558  13030
886 2017-06-29  大宮川沖中央  135.900578  35.056558  17100
887 2017-06-29  大宮川沖中央  135.900578  35.056558   7026
888 2017-06-29  大宮川沖中央  135.900578  35.056558  14447
889 2017-06-29  大宮川沖中央  135.900578  35.056558  13383
890 2017-06-29  大宮川沖中央  135.900578  35.056558  19777
891 2017-06-29  大宮川沖中央  135.900578  35.056558  18777
892 2017-06-29  大宮川沖中央  135.900578  35.056558  17559
893 2017-06-29  大宮川沖中央  135.900578  35.056558  17013
894 2017-06-29  大宮川沖中央  135.900578  35.056558  19357
895 2017-06-29  大宮川沖中央  135.900578  35.056558  14163
896 2017-06-29  大宮川沖中央  135.900578  35.056558  13030
897 2017-06-29  大宮川沖中央  135.900578  35.056558  17100
898 2017-06-29  大宮川沖中央  135.900578  35.056558   7026
899 2017-06-29  大宮川沖中央  135.900578  35.056558  14447
900 2017-06-29  大宮川沖中央  135.900578  35.056558  13383
          Time  拠点名         lon        lat  pixel
901 2017-06-29  志那沖  135.917658  35.053818  21714
902 2017-06-29  志那沖  135.917658  35.053818  20783
903 2017-06-29  志那沖  135.917658  35.053818  19154
904 2017-06-29  志那沖  135.917658  35.053818  18827
905 2017-06-29  志那沖  135.917658  35.053818  21717
906 2017-06-29  志那沖  135.917658  35.053818  15186
907 2017-06-29  志那沖  135.917658  35.053818  13568
908 2017-06-29  志那沖  135.917658  35.053818  19202
909 2017-06-29  志那沖  135.917658  35.053818   7376
910 2017-06-29  志那沖  135.917658  35.053818  13255
911 2017-06-29  志那沖  135.917658  35.053818  12445
912 2017-06-29  志那沖  135.917658  35.053818  21714
913 2017-06-29  志那沖  135.917658  35.053818  20783
914 2017-06-29  志那沖  135.917658  35.053818  19154
915 2017-06-29  志那沖  135.917658  35.053818  18827
916 2017-06-29  志那沖  135.917658  35.053818  21717
917 2017-06-29  志那沖  135.917658  35.053818  15186
918 2017-06-29  志那沖  135.917658  35.053818  13568
919 2017-06-29  志那沖  135.917658  35.053818  19202
920 2017-06-29  志那沖  135.917658  35.053818   7376
921 2017-06-29  志那沖  135.917658  35.053818  13255
922 2017-06-29  志那沖  135.917658  35.053818  12445
          Time   拠点名         lon        lat  pixel
659 2017-06-29  知内川沖  136.065759  35.450881  22966
660 2017-06-29  知内川沖  136.065759  35.450881  22459
661 2017-06-29  知内川沖  136.065759  35.450881  20315
662 2017-06-29  知内川沖  136.065759  35.450881  20177
663 2017-06-29  知内川沖  136.065759  35.450881  24104
664 2017-06-29  知内川沖  136.065759  35.450881  18704
665 2017-06-29  知内川沖  136.065759  35.450881  16747
666 2017-06-29  知内川沖  136.065759  35.450881  20536
667 2017-06-29  知内川沖  136.065759  35.450881   6076
668 2017-06-29  知内川沖  136.065759  35.450881  14786
669 2017-06-29  知内川沖  136.065759  35.450881  14281
670 2017-06-29  知内川沖  136.065759  35.450881  22966
671 2017-06-29  知内川沖  136.065759  35.450881  22459
672 2017-06-29  知内川沖  136.065759  35.450881  20315
673 2017-06-29  知内川沖  136.065759  35.450881  20177
674 2017-06-29  知内川沖  136.065759  35.450881  24104
675 2017-06-29  知内川沖  136.065759  35.450881  18704
676 2017-06-29  知内川沖  136.065759  35.450881  16747
677 2017-06-29  知内川沖  136.065759  35.450881  20536
678 2017-06-29  知内川沖  136.065759  35.450881   6076
679 2017-06-29  知内川沖  136.065759  35.450881  14786
680 2017-06-29  知内川沖  136.065759  35.450881  14281

In [93]:
new_dh_test = new_dh3.set_index("Time")

In [95]:
new_dh_test[new_dh_test.duplicated()]

,拠点名,lon,lat,band,pixel,cloud,terrian,cloudconfidence,cloudshade,CH
Time,,,,,,,,,,
2017-06-29,知内川沖,136.065759,35.450881,B1.TIF,22966,1.0,0,3.0,1.0,2.610714
2017-06-29,知内川沖,136.065759,35.450881,B2.TIF,22459,1.0,0,3.0,1.0,2.610714
2017-06-29,知内川沖,136.065759,35.450881,B3.TIF,20315,1.0,0,3.0,1.0,2.610714
2017-06-29,知内川沖,136.065759,35.450881,B4.TIF,20177,1.0,0,3.0,1.0,2.610714
2017-06-29,知内川沖,136.065759,35.450881,B5.TIF,24104,1.0,0,3.0,1.0,2.610714
...,...,...,...,...,...,...,...,...,...,...
2017-06-29,志那沖,135.917658,35.053818,B7.TIF,13568,1.0,0,3.0,1.0,14.663158
2017-06-29,志那沖,135.917658,35.053818,B8.TIF,19202,1.0,0,3.0,1.0,14.663158
2017-06-29,志那沖,135.917658,35.053818,B9.TIF,7376,1.0,0,3.0,1.0,14.663158
2017-06-29,志那沖,135.917658,35.053818,B10.TIF,13255,1.0,0,3.0,1.0,14.663158
2017-06-29,志那沖,135.917658,35.053818,B11.TIF,12445,1.0,0,3.0,1.0,14.663158

In [97]:
new_dh_test2 = new_dh_test[~new_dh_test.duplicated()]

In [99]:
new_dh_test2.describe()

,lon,lat,pixel,cloud,terrian,cloudconfidence,cloudshade,CH
count,19381.000000,19381.000000,19381.000000,19381.000000,19381.0,19381.000000,19381.000000,19381.000000
mean,136.047566,35.242341,13008.271555,0.468810,0.0,1.954646,1.119189,7.329849
std,0.125700,0.144863,7658.520972,0.499039,0.0,0.990438,0.473480,7.868960
min,135.882382,35.024584,3716.000000,0.000000,0.0,1.000000,1.000000,0.772727
25%,135.917658,35.061898,6911.000000,0.000000,0.0,1.000000,1.000000,3.125000
50%,136.027264,35.290468,10255.000000,0.000000,0.0,1.000000,1.000000,4.998734
75%,136.117492,35.332352,18505.000000,1.000000,0.0,3.000000,1.000000,9.090625
max,136.245145,35.450881,50621.000000,1.000000,0.0,3.000000,3.000000,134.105556

In [101]:
for t in new_dh3["Time"].unique():
    for k in new_dh3["拠点名"].unique():
        if len(new_dh3[(new_dh3["Time"] == t) & (new_dh3["拠点名"]== k)]["band"].values) == 10:
            print(new_dh3[(new_dh3["Time"] == t) & (new_dh3["拠点名"]== k)][["Time","拠点名","band","lon","lat","pixel"]])

          Time   拠点名     band         lon        lat  pixel
121 2017-03-25  知内川沖   B2.TIF  136.065759  35.450881   8686
122 2017-03-25  知内川沖   B3.TIF  136.065759  35.450881   7313
123 2017-03-25  知内川沖   B4.TIF  136.065759  35.450881   6548
124 2017-03-25  知内川沖   B5.TIF  136.065759  35.450881   6081
125 2017-03-25  知内川沖   B6.TIF  136.065759  35.450881   5447
126 2017-03-25  知内川沖   B7.TIF  136.065759  35.450881   5303
127 2017-03-25  知内川沖   B8.TIF  136.065759  35.450881   7059
128 2017-03-25  知内川沖   B9.TIF  136.065759  35.450881   5127
129 2017-03-25  知内川沖  B10.TIF  136.065759  35.450881  20377
130 2017-03-25  知内川沖  B11.TIF  136.065759  35.450881  19268

In [107]:
new_dh_test2.to_excel("./all_data4.xlsx")